@page "/room_creator"
@rendermode InteractiveServer

@using HotelReservation.Data

<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" @bind-value="@Template.Name" required />
    </div>
    <div>
        <label for="dbeds">Double Beds</label>
        <input type="number" id="dbeds" name="dbeds" @bind-value="@Template.DoubleBeds" required />
    </div>
    <div>
        <label for="sbeds">Single Beds</label>
        <input type="number" id="sbeds" name="sbeds" @bind-value="@Template.SingleBeds" required />
    </div>
    <div>
        <label for="price">Price per Night</label>
        <input type="number" id="price" name="price" @bind-value="@Template.NightlyPrice" required />
    </div>
    <div>
        <label for="desc">Description</label>
        <input type="text" id="desc" name="desc" @bind-value="@Template.Description" />
    </div>
    @if (Mode != null)
    {
        <input type="button" @onclick="Save" id="submit" value=@Mode></input>
    }
</form>

@code {
    [Parameter] public required Models.RoomTemplate Template { get; set; }
    [Parameter] public required string? Mode { get; set; }
    [Parameter] public EventCallback<Models.RoomTemplate> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    protected override void OnInitialized()
    {
    }
    private async Task Save(MouseEventArgs e)
    {
        await OnSave.InvokeAsync(Template);
    }
    // => OnCancel.InvokeAsync();
}
