@page "/room_creator"
@rendermode InteractiveServer

@using HotelReservation.Data

@inject ApplicationDbContext DbContext;

<h2>Room creator</h2>

<h3>Room templates creator</h3>
<br />
<form>
    <label for="name">Name</label><br />
    <input type="text" id="name" name="name" @bind-value="@_name" required/><br />
    <label for="dbeds">Double Beds</label><br />
    <input type="number" id="dbeds" name="dbeds" @bind-value="@_doubleBeds" required/><br />
    <label for="sbeds">Single Beds</label><br />
    <input type="number" id="sbeds" name="sbeds" @bind-value="@_singleBeds" required/><br />
    <label for="price">Price per Night</label><br />
    <input type="number" id="price" name="price" @bind-value="@_nightlyPrice" required/><br />
    <label for="desc">Description</label><br />
    <input type="text" id="desc" name="desc" @bind-value="@_description"/><br />
    <button type="button" @onclick=@CreateRoomTemplateAsync id="create">Create</button>
</form>

@code {

    string _name;
    byte _doubleBeds;
    byte _singleBeds;
    uint _nightlyPrice;
    string? _description;
    private async Task CreateRoomTemplateAsync()
    {
        await DbContext.RoomTemplates.AddAsync(
            new Models.RoomTemplate()
                {
                    Name = _name,
                    DoubleBeds = _doubleBeds,
                    SingleBeds = _singleBeds,
                    NightlyPrice = _nightlyPrice,
                    Description = _description
                });
        await DbContext.SaveChangesAsync();
    }
}
