@rendermode InteractiveServer
@using HotelReservation.Components.Models
@using HotelReservation.Data
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations.Schema

<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="(required)" @bind="Template.Name" required />
    </div>
    <div>
        <label for="dbeds">Adults</label>
        <input type="number" id="adults" name="adults" placeholder="(required)" @bind="Template.Adults" required />
    </div>
    <div>
        <label for="sbeds">Kids</label>
        <input type="number" id="kids" name="kids" placeholder="(required)" @bind="Template.Kids" required />
    </div>
    <div>
        <label for="price">Price per Night</label>
        <input type="number" id="price" name="price" placeholder="(required)" @bind="Template.NightlyPrice" required />
    </div>

    <div>
        <label>Tags</label>
        @foreach (var templateTag in Template.Tags)
        {
            <div>
                @templateTag.Name
                <button type="button" @onclick=@(() => DeleteTag(templateTag))>&#x2716;</button>
            </div>
        }
            <div>
                <select type="text" id="new-tag" @bind="newTag.Name" @bind:after="SaveTag">
                    <option value="">-- Add New Tag --</option>
                    @foreach (var tag in tags)
                    {
                        <option value="@tag.Name">@tag.Name</option>
                    }
                </select>
            </div>
        @if (!string.IsNullOrEmpty(tagErrorMessage))
        {
            <div class="text-danger">@tagErrorMessage</div>
        }
    </div>

    <div>
        <button type="button" @onclick="() => imageSelection = true">Select Image</button>
        @if (imageSelection)
        {
            <ImageSelectComponent OnSave="AddImage" OnCancel="() => imageSelection = false" CurrentImages="Template.Images" />
        }
        @foreach (var image in Template.Images)
        {
            <div>
                <img src="@image.Path" style="width:100px; height:100px;" />
                <button type="button" @onclick="() => RemoveImage(image)">X</button>
            </div>
        }
    </div>
    <div>
        <label for="desc">Description</label>
        <input type="text" id="desc" name="desc" placeholder="(optional)" @bind="Template.Description" />
    </div>
    @if (Mode != null)
    {
        <input type="button" @onclick="Save" id="submit" value="@Mode" disabled="@invalidTag" />
    }
</form>

@code {
    [Parameter] public required RoomTemplate Template { get; set; }
    [Parameter] public Func<Task<List<Tag>>> Tags { get; set; }
    [Parameter] public required string? Mode { get; set; }
    [Parameter] public EventCallback<RoomTemplate> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    private List<Tag> tags = new();
    private Tag? newTag = new Tag { Name = "" };
    private bool imageSelection = false;
    private string tagErrorMessage = "";
    private bool invalidTag => !string.IsNullOrEmpty(tagErrorMessage);

    protected override async Task OnInitializedAsync()
    {
        tags = await Tags.Invoke();
        foreach (var templateTag in Template.Tags)
        {
            tags.Remove(templateTag);
        }
    }

    private void DeleteTag(Tag tag)
    {
        Template.Tags.Remove(tag);
        tags.Add(tag);
        if (!Template.Tags.Any(t => string.IsNullOrWhiteSpace(t.Name) || !tags.Any(valid => valid.Name == t.Name)))
        {
            tagErrorMessage = "";
        }
    }
    private void SaveTag()
    {
        if (newTag == null || string.IsNullOrEmpty(newTag.Name))
        {
            tagErrorMessage = "Please enter a tag.";
        }else
        {
            newTag = tags.Find(t => t.Name == newTag.Name);
            Template.Tags.Add(newTag);
            tags.Remove(newTag);
            tagErrorMessage = "";
            newTag = new Tag { Name = "" };
        }

    }

    private async Task AddImage(Image image)
    {
        Template.Images.Add(image);
        await InvokeAsync(StateHasChanged);
    }

    private void RemoveImage(Image image) => Template.Images.Remove(image);

    private void ValidateTag(Tag tag)
    {
        var validTag = tags.FirstOrDefault(t => t.Name == tag.Name);
        if (string.IsNullOrWhiteSpace(tag.Name) || validTag == null || Template.Tags.Any(t => t.Id == validTag.Id))
        {
            tag.Id = 0;
            tagErrorMessage = "Invalid tag. Please select a valid tag from the list. No duplicates.";
            return;
        }
        else
        {
            tagErrorMessage = "";
        }
        // tag.SelectedTagName = validTag.Name;
    }

    private async Task Save(MouseEventArgs e)
    {
        await OnSave.InvokeAsync(Template);
    }
}